img{
    width: 10rem;
}
.bg-marrom {
    background-color: var(--cor3) !important;
}

nav a{
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
nav a:hover{
    font-weight: 700;
    transform: scale(1.05);
}